<!DOCTYPE html>
<html lang="en">
<style>

.trainning_table {
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    width: 400px;
}
.trainning_table th {
    background-color: #009578;
    color: #ffffff;
    text-align: left;
}
.trainning_table th,
.trainning_table td {
    padding: 6px 8px;
    font-weight: normal;
}
.trainning_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="/training_style.css">
    <title>Form - table</title>
</head>

<body>
    <table class="trainning_table">
        <tr>
            {% for header in headers %}
            <th>{{  header }}</th>
            {% endfor %}
        </tr>

        {% for row in data %}
        <tbody>
        <tr>
            {% for item in row.values() %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>