<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel= "stylesheet" type= "text/css" href="static/MenuLine.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>鱷魚AI動物園</title>

<head>
    <div class="topnav" id="myTopnav">
      <div class="dropdownR">
        <button class="dropbtnR">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </button>
        <div class="dropdown-contentR">
          {% if current_user.is_authenticated %}
          <a href="../../UserInfo">使者者訊息</a>
          <a href="../../logout">登出</a>
          {% else %}
          <a href="../../login">登入</a>
          {% endif %}
        </div>
      </div>
    <a href="../../trainList">訓練中心</a>
      <div class="dropdown">
        <button class="dropbtn">預測系統中心
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../PredictPage">模型預測</a>
          <a href="../../PredictResult">預測結果</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">數據管理
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../DataUpload">數據上傳</a>
          <a href="../../DataProcess">數據前處理</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">鱷魚相關
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../aboutme">關於鱷魚 About Me</a>
          <a href="../../ContectMe">聯繫鱷魚 Content Me</a>
          <a href="https://github.com/spawnboo">Visit My GITHUB</a>
        </div>
      </div>
  </div>
</head>


<body bgcolor="grey">
    <!--    回到上一頁按鈕-->
    <a href="{{ url_for('PredictPage') }}"><button class="previous"><span> 回上頁 </span></button></a>
    <h2>預測中心</h2>
    <form action="PredictSet" method="post">
        <h2>選擇預測資料路徑(資料夾):</h2>
        <!-- 輸入該訓練的專案名稱 -->
        <p><label>此次預測的名稱 Predict Project Name (Model Name):</label></p>
            <p><input type="text" name="ProjectName" value="Predict01" /></p>
        <!-- base_Model 輸入訓練路徑 -->
        <p><label>預測資料的路徑 Predict Data Path:</label></p>
            <p><input type="text" name="predictPath" value="D:\DL\chest_xray\test" /></p>

        <!-- 以下皆是帶入準備預測模型當初的訓練值~ -->

        <!-- base_Model 這個模型清單 -->
        <label >選擇歷史模型 (若選擇此方法,下列參數將不再有效):</label>
            <p><input type="text" name="model_name" value={{train_List_Result[0]['Model']}} /></p>
        <!-- base_Model 詳細設定值 -->
        <p><label>預測影像寬高 Image Size Weight/Hight</label></p>
            <p><label>{{train_parameter_Result[0]['Image_SizeW']}}</label></p>
            <p><label>{{train_parameter_Result[0]['Image_SizeH']}}</label></p>
        <p><label>Epoch:</label></p>
            <p><label>{{train_parameter_Result[0]['Epoch']}}</label></p>
        <label>Batch Size:</label>
            <p><label>{{train_parameter_Result[0]['Batch_size']}}</label></p>
        <label>Drop Rate:</label>
            <p><label>{{train_parameter_Result[0]['Drop_rate']}}</label></p>
        <label>學習率 LearningRate:</label>
            <p><label>{{train_parameter_Result[0]['Learning_rate']}}</label></p>



        <!-- 開始預測按鈕 -->
        <p><input type="submit" value="開始預測" /></p>
    </form>

</body>

</html>