<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel= "stylesheet" type= "text/css" href="static/MenuLine.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>鱷魚AI動物園</title>

<head>
    <div class="topnav" id="myTopnav">
      <div class="dropdownR">
        <button class="dropbtnR">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </button>
        <div class="dropdown-contentR">
          {% if current_user.is_authenticated %}
          <a href="../../UserInfo">使者者訊息</a>
          <a href="../../logout">登出</a>
          {% else %}
          <a href="../../login">登入</a>
          {% endif %}
        </div>
      </div>
    <a href="../../trainList">訓練中心</a>
      <div class="dropdown">
        <button class="dropbtn">預測系統中心
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../PredictPage">模型預測</a>
          <a href="../../PredictResult">預測結果</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">數據管理
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../DataUpload">數據上傳</a>
          <a href="../../DataProcess">數據前處理</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">鱷魚相關
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../aboutme">關於鱷魚 About Me</a>
          <a href="../../ContectMe">聯繫鱷魚 Content Me</a>
          <a href="https://github.com/spawnboo">Visit My GITHUB</a>
        </div>
      </div>
  </div>
</head>


<body bgcolor="grey">
    <!--    回到上一頁按鈕-->
    <a href="{{ url_for('trainList') }}"><button class="previous"><span> 回上頁 </span></button></a>
    <h2>訓練中心</h2>
    <form action="trainSet" method="post">
        <h2>選擇訓練資料路徑(資料夾):</h2>
        <!-- 輸入該訓練的專案名稱 -->
        <p><label>訓練專案的名稱 Train Project Name (Model Name):</label></p>
            <p><input type="text" name="ProjectName" value="" /></p>
        <!-- base_Model 輸入訓練路徑 -->
        <p><label>訓練資料的路徑 Train Data Path:</label></p>
            <p><input type="text" name="trainPath" value="D:\DL\chest_xray\train" /></p>
        <!-- base_Model 選擇歷史模型清單 -->
        <label for="weight-select">選擇歷史模型 (若選擇此方法,下列參數將不再有效):</label>
            <select name="weight-select" id="weight-select">
              <option value="">尚未實作</option>
            </select>
        <!-- base_Model 選擇清單 -->
        <label for="model-select">選擇模型:</label>
            <select name="model-select" id="model-select" required>
              <option value="effB3">EffectNet-B3 </option>
              <option value="res50">ResNet-50</option>
            </select>
        <!-- base_Model 詳細設定值 -->
        <p><label>訓練影像寬高 Image Size Weight/Hight</label></p>
            <input type="number" name="Image_SizeW" value="224" min="32" step="8" required/>
            <input type="number" name="Image_SizeH" value="224" min="32" step="8" required/>
        <p><label>Epoch:</label></p>
            <p><input type="number" name="Epoch" value="20" min="1" max="1000" required/></p>
        <label>Batch Size:</label>
            <p><input type="number" name="Batch_size" value="16" min="1" max="100" required/></p>
        <label>Drop Rate:</label>
            <p><input type="number" name="Drop_rate" value="0.5" step="0.1" max="1" min="0" required/></p>
        <label for="LR">學習率 LearningRate:</label>
        <p><input type="number" name="Learning_rate" value="0.0001" step="0.0001" min="0.0001" max="0.1" id="LR" required/></p>

        <!-- Summary -->
        <p><label>呈現訓練模型組成:</label></p>
        <div>
          <input type="radio" id="contactChoice1" name="contact" value="True" required/>
          <label for="contactChoice1">顯示</label>
          <input type="radio" id="contactChoice2" name="contact" value="False" />
          <label for="contactChoice2">不顯示</label>
        </div>

        <!-- 開始訓練按鈕 -->
        <p><input type="submit" value="開始訓練" /></p>
    </form>

</body>

</html>