<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href="static/MenuLine.css">
<link rel= "stylesheet" type= "text/css" href="static/TrainListStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">

    <link rel= "stylesheet" href="/training_style.css">
    <title>鱷魚AI動物園</title>

    <div class="topnav" id="myTopnav">
      <div class="dropdownR">
        <button class="dropbtnR">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </button>
        <div class="dropdown-contentR">
          {% if current_user.is_authenticated %}
          <a href="#">使者者訊息</a>
          <a href="logout">登出</a>
          {% else %}
          <a href="#">登入</a>
          {% endif %}
        </div>
      </div>
    <a href="TrainSet">訓練模型</a>
    <a href="#contact">預測系統</a>
      <div class="dropdown">
        <button class="dropbtn">數據管理
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">數據上傳</a>
          <a href="#">數據前處理</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">鱷魚相關
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="aboutme">關於鱷魚 About Me</a>
          <a href="#">聯繫鱷魚 Content Me</a>
          <a href="https://github.com/spawnboo">Visit My GITHUB</a>
        </div>
      </div>
  </div>
</head>

<body>
<!--    製作一個新的訓練-->
    <a href="TrainSet"><button class="button"><span>製作訓練菜單 </span></button></a>
<!--    目前訓練清單與進度-->
    <form action="/trainList" method="post">

        <table class="trainning_table">
            <thead>
                <tr>
                    {% for header in headers %}
                    <th>{{  header }}</th>
                    {% endfor %}

                    <th> Tool </th>
                </tr>
            </thead>


            <tbody>
            {% for row in data %}
                <tr>
                    {% for item in row.values() %}
                    <td>{{ item }}</td>
                    {% endfor %}

                    <!--加入按鈕選項  + 判斷式這個人是否有權限 -->
                    {% if row['Age'] >= 10 %}
                    <td>
                      <a href="#"><button class="Tool_btn_delete" name="Tool_btn_D" value={{row['Name']}}><i class="fa fa-trash"></i></button></a>
                      <a href="#"><button class="Tool_btn_eye" name="Tool_btn_L" value={{row['Name']}}><i class="fa fa-eye" aria-hidden="true"></i></button></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>
</body>